{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "powershell",
        "BrokerList": "{YOUR_CONFLUENT_CLOUD_BROKER}.eastus.azure.confluent.cloud:9092",
        "ConfluentCloudUserName": "{YOUR_CONFLUENT_CLOUD_USERNAME}",
        "ConfluentCloudPassword": "{YOUR_CONFLUENT_CLOUD_PASSWORD}"
    }
}