.git
NuGet.config
**/.npmrc
**/.venv
**/__pycache__
**/bin
**/node_modules
**/obj
**/package-lock.json
**/pip.conf
**/pip.ini
**/target
**/uv.lock
**/*.pyc
temp/compat/secrets
!temp/compat/nuget/*.nupkg
**/local.appsettings.tests.json
**/local.settings.json
