{
    "IsEncrypted": false,
    "Values": {
        "BrokerList": "YOUR_BROKER_LIST_HERE",
        "ConfluentCloudUsername": "YOUR_CONFLUENT_USER_NAME_HERE",
        "ConfluentCloudPassword": "YOUR_CONFLUENT_PASSWORD_HERE",
        "topic": "{YOUR_KAFKA_TOPIC_NAME}"
    }
}