{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "BrokerList": "{YOUR_CONFLUENT_CLOUD_BROKER}",
        "ConfluentCloudUserName": "{YOUR_CONFLUENT_CLOUD_USERNAME}",
        "ConfluentCloudPassword": "{YOUR_CONFLUENT_CLOUD_PASSWORD}",
        "topic": "{YOUR_KAFKA_TOPIC_NAME}"
    }
}